<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="sax" type="Sax.Net.Helpers.SaxConfigurationSection, Sax.Net"/>
  </configSections>
  <!-- set either but not both -->
  <sax xmlReaderType="" xmlReaderFactoryType=""/>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
